body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


.nav-list {
    list-style: none;
    text-align: right;
}

.menu {
    display: inline;
    padding: 2px 15px;

}

.container {
    padding: 0rem 1rem;
}

.top-nav {
    background-color:#10B981;
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.link {
    text-decoration: none;
    color: white;
}

.link-footer {
    text-decoration: none;
    color: black;
}

li a:hover {
    color: white;
    font-weight: bold;
}


.hero {
    padding: 2rem 2rem;
}

.hero-img {
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
}

.hero-text {
    text-align: center;
    margin: auto;
}

.section-first {
    max-width: 600px;
    margin: auto;
    padding: 2rem 2rem;
}

footer{
    background-color: #6EE7B7;
    border: 1rem;
    padding: 0.5rem;
}